// changes made here
.floating-input-wrapper {
    position: relative;
}

.floating-input {
    border: 1px solid var(--gray-300);

    // padding-top:÷ /* Adjust for floating label */
}

.floating-label {
    position: absolute;
	z-index: 100;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    font-size: 14px;
    color: #aaa;
    pointer-events: none;
}

.floating-input:focus + .floating-label,
.floating-input-wrapper.has-focus .floating-label {
    top: 0;
	background-color: #fff;
    font-size: 12px;
    color: #007bff;
}

// to here

.floating-input, .floating-input:focus{
    background-color: #fff;
}

.control-input {
    position: relative;
}